[submodule "lib/payin7-php"]
	path = lib/payin7-php
	url = https://github.com/payin7-payments/payin7-php.git
[submodule "lib/Mobile-Detect"]
	path = lib/Mobile-Detect
	url = https://github.com/serbanghita/Mobile-Detect.git
