/** Order view payment info */
.payin7.order-info {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}